<div class="hero-unit">
  <h1>Hello there</h1> 
  <p>
    My name is Sean Walker and I wrote this fine application with rails and bootstrap.<br/>
    If you like this you might like to follow me on <a href="http://twitter.com/swlkr">twitter</a> or <a href="http://github.com/swlkr">github</a> or check out my <a href="http://swlkr.com">blog</a>.
  </p>
</div>