// Place all the styles related to the habits controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

.add-habit {
    cursor: pointer;
}

#new-habit {
  margin-bottom: 30px;
}

.chain {
    text-align: center;
}

.year{
    font-size:72px;
    padding: 20px 0 5px 0;
}

.month{
    font-size:42px;
    color:red;
    padding-top: 7px;
}

input#streak {
  height: 75px;
  cursor: auto;
  box-shadow: none;
}

#message-container {
  position: relative;
  height: 40px;
}

.calendar{
}

/* Landscape phones and down */
@media (max-width: 480px) { 
  
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Large desktop */
@media (min-width: 1200px) {
  
}

.calendar TD{
    height:50px;
    font-size:24px;
    color:#999;
    padding: 0 25px 25px 25px;
    border-top: 1px solid #ccc;
    cursor: pointer;
  }

.calendar TH{
    font-size:14px;
    font-weight:bold;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding: 10px;
}

.calendar TD:hover {
    background-color:#EFEFEF;
}

.calendar TD.weekend{
    color:#CDCDCD;
}

.calendar TD.today{

}

.calendar TD.holiday{
    color:red;
}

.content{
    color:black;
    font-size:11px;
    line-height:0px;
}