<p class="alert alert-info" style="display:none"></p>
<p class="alert alert-error" style="display:none"></p>

<div class="row">
  <div class="span3">
    <div id="habit-list-container">
      <h1>Soon To Be Habits</h1>
      <ul id="habit-list">
        <% @habits.each do |habit| %>
          <li>
              <a href="javascript://" class="lead add-habit" data-id="<%= habit.id %>"><%= habit.content %></a>
              <a href="javascript://" class="edit-habit" data-id="<%= habit.id %>"><i class="icon-pencil"></i></a>
              <a href="javascript://" class="delete-habit" data-id="<%= habit.id %>"><i class="icon-trash"></i></a>
          </li>
        <% end %>
      </ul>
    </div>
    <input type="hidden" id="habit-id" />
    <a href="javascript://" id="new-habit" class="btn btn-large btn-inverse">Start A Habit</a>    
  </div>

  <div class="span9">
    <h3 class="month"></h3>
    <h1 class="year"></h1>

    <br/>
  
    <table id="calendar" class="calendar">
      <thead></thead>
      <tbody></tbody>
    </table>

    <br/>
    
    <button id="last" class="btn btn-large"><i class="icon-arrow-left"></i></button>
    <button id="current" class="btn btn-large"><i class="icon-calendar"></i></button>
    <button id="next" class="btn btn-large"><i class="icon-arrow-right"></i></button>
  </div>
</div>

<!-- Feature tour html -->
<ol id="featureTourTipContent" style="display: none">
  <li data-target="#new-habit" data-placement="bottom" data-title="Start It">Click this button to start a new habit.</li>
  <li data-target="#habit-list" data-title="Type It">Type in the name of the habit you want to start then hit enter (or click save) when you're done.</li>
  <li data-target="#habit-list-container" data-placement="right" data-title="Click It">Click the habit you just created.</li>
  <li data-target="#calendar" data-placement="top" data-title="Place It">Now click a day on the calendar.<br/><b>Viola!</b> You've started a new habit.</li>
  <li data-target="#sign_up" data-placement="bottom" data-title="Save Your Stuff">Sign up to create and save new habits.</li>
</ol>
