<% if !user_signed_in? %>

<div class="hero-unit">
<h1>Dayable</h1>
<p class="lead">Keep track of your success every day! Form habits! Be awesome!</p>
<p><a class="btn btn-success btn-large">Sign up for free</a></p>
</div>

<div class="row">
  <div class="span6">
    <h2>Phase 1</h2>
    <p class="lead">Make a list of the things you'd like to do every day.</p>
  </div>
  <div class="span6">
    <h2>Phase 2</h2>
    <p class="lead">Tap or click a day in your calendar to lay it down. See how long you can keep the chain going! Form those habits!</p>
  </div>
</div>

<% else %>

  
  <p class="alert alert-info" style="display: none"></p>
  <p class="alert alert-error" style="display: none"></p>
  

<div class="row">
  <div class="span4 well">
    <h1>Soon To Be Habits</h1>
    <ul id="habit-list">
  <% @habits.each do |habit| %>
  <li>
    <div class="reverse-well">
    <a href="javascript://" class="lead add-habit" data-id="<%= habit.id %>" rel="tooltip" title="Click this then click a date to add a habit."><%= habit.content %></a>
    <a href="javascript://" class="edit-habit" data-id="<%= habit.id %>"><i class="icon-pencil"></i></a>
    <a href="javascript://" class="delete-habit" data-id="<%= habit.id %>"><i class="icon-trash"></i></a>
    </div>
  </li>
  <% end %>
</ul>

<input type="hidden" id="habit-id" />

<br/>
<a href="javascript://" id="new-habit" class="btn btn-large"><i class="icon-plus"></i> New</a>
  </div>
  <div class="span6">
    <h1 class="year"></h1>
        
    <h2 class="time"></h2>
  
    <h3 class="month"></h3>

    <br/>
  
    <table id="calendar" class="calendar">
      <thead></thead>
      <tbody></tbody>
    </table>
    
    <input type="button" name="last" id="last" value="Previous" class="btn">
    <input type="button" name="current" id="current" value="Current" class="btn">
    <input type="button" name="next" id="next" value="Next" class="btn">

    <ul id="chain-list">
    <ul>
  </div>
</div>


<% end %>
